%h3 Api key
#apikey= @apikey
%h3 Session
#session= @session
%h3 Token
#token= @token

.row#waiting
  .span6.offset3

.row#interface
  .span3#publisherContainer
    Contenu publisher
  .span6
    #subscribersContainer
      #initialcontent.well
        %h1 Chargement de l'interface veuillez patienter
  .span3#messagecontent
    .well
      %p
        Pour vchatter avec un correspondant faites lui passer le lien suivant:
      =link_to "Rejoindre la conversation", root_url+"?session=#{@session}", :class => "btn btn-success btn-large"