%h3 Api key
#apikey= @apikey
%h3 Session
#session= @session
%h3 Token
#token= @token

.row
  .span2.offset1#publisherContainer
    Contenu publisher
  .span6#subscribersContainer
    Attente du correspondant....
  .span3
    .well
      %p
        Pour vchatter avec un correspondant faites lui passer le lien suivant:
      =link_to "Rejoindre la conversation", root_url+"?session=#{@session}", :class => "btn btn-success btn-large"